<section class="devices">
  <table mat-table [dataSource]="devices" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let device">{{ device.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let device">{{ device.title }}</td>
    </ng-container>

    <ng-container matColumnDef="deviceType">
      <th mat-header-cell *matHeaderCellDef>deviceType</th>
      <td mat-cell *matCellDef="let device">{{ device.deviceType }}</td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>enabled</th>
      <td mat-cell *matCellDef="let device">{{ device.enabled }}</td>
    </ng-container>

    <ng-container matColumnDef="houseId">
      <th mat-header-cell *matHeaderCellDef>houseId</th>
      <td mat-cell *matCellDef="let device">{{ device.houseId }}</td>
    </ng-container>

    <ng-container matColumnDef="lastActivity">
      <th mat-header-cell *matHeaderCellDef>lastActivity</th>
      <td mat-cell *matCellDef="let device">{{ device.lastActivity }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell *matCellDef="let device">{{ device.status }}</td>
    </ng-container>

    <ng-container matColumnDef="locations">
      <th mat-header-cell *matHeaderCellDef>locations</th>
      <td mat-cell *matCellDef="let device">{{ device.locations }}</td>
    </ng-container>

    <ng-container matColumnDef="settings">
      <th mat-header-cell *matHeaderCellDef>settings</th>
      <td mat-cell *matCellDef="let device">
        {{
          [device.settings.name, device.settings.port, device.settings.password]
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let device">
        <button mat-icon-button color="warn" (click)="removeDevice(device.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
