<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ "id" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.id }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{ "title" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.title }}</td>
  </ng-container>

  <ng-container matColumnDef="deviceType">
    <th mat-header-cell *matHeaderCellDef>{{ "deviceType" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.deviceType }}</td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef>{{ "enabled" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.enabled }}</td>
  </ng-container>

  <ng-container matColumnDef="houseId">
    <th mat-header-cell *matHeaderCellDef>{{ "houseId" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.houseId.name }}</td>
  </ng-container>

  <ng-container matColumnDef="lastActivity">
    <th mat-header-cell *matHeaderCellDef>
      {{ "lastActivity" | uppercase }}
    </th>
    <td mat-cell *matCellDef="let device">{{ device.lastActivity }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>{{ "status" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.status }}</td>
  </ng-container>

  <ng-container matColumnDef="locations">
    <th mat-header-cell *matHeaderCellDef>{{ "locations" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">{{ device.locations }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ "name" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">
      {{ device.settings.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="port">
    <th mat-header-cell *matHeaderCellDef>{{ "port" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">
      {{ device.settings.port }}
    </td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>{{ "password" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">
      {{ device.settings.password }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>{{ "action" | uppercase }}</th>
    <td mat-cell *matCellDef="let device">
      <button mat-icon-button color="warn" (click)="openModal(device.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="currentPageIndex"
  [pageSizeOptions]="[1, 5, 10]"
  (page)="pageChanged($event)"
></mat-paginator>
